*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: Arial, Helvetica, sans-serif; }

.carousel h2 {
  font-size: 8rem; }
  @media only screen and (max-width: 50em) {
    .carousel h2 {
      font-size: 5rem; } }
  @media only screen and (max-width: 50em) {
    .carousel h2 {
      line-height: 1; } }
  @media only screen and (max-width: 31.25em) {
    .carousel h2 {
      font-size: 3rem; } }

.carousel p {
  font-size: 2rem; }
  @media only screen and (max-width: 50em) {
    .carousel p {
      font-size: 1.6rem; } }
  @media only screen and (max-width: 31.25em) {
    .carousel p {
      font-size: 1.2rem; } }
  @media only screen and (max-width: 25em) {
    .carousel p {
      font-size: 1rem; } }

.carousel a {
  font-size: 2rem;
  font-weight: 400; }
  @media only screen and (max-width: 50em) {
    .carousel a {
      font-size: 1.4rem; } }

@media only screen and (max-width: 50em) {
  .carousel .btn {
    font-size: 5rem; } }

h1 {
  font-size: 8rem; }

h2 {
  font-size: 6rem; }

h3 {
  font-size: 5rem; }

h4 {
  font-size: 3.5rem; }

h5 {
  font-size: 2.8rem; }

h6 {
  font-size: 1.8rem; }

.header {
  background-color: #1f1f1f;
  color: #e6e6e6;
  display: flex;
  justify-content: space-between;
  padding: 0 10rem; }
  @media only screen and (max-width: 43.75em) {
    .header {
      flex-direction: column;
      padding: 2rem;
      padding-bottom: 0; } }
  @media only screen and (max-width: 21.25em) {
    .header {
      padding: 1rem;
      padding-bottom: 0; } }
  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 43.75em) {
      .header__logo {
        padding: 1rem 0; } }
    @media only screen and (max-width: 21.25em) {
      .header__logo {
        padding: 0; } }
  .header__image {
    margin-right: 2rem;
    font-weight: 400; }
    @media only screen and (max-width: 56.25em) {
      .header__image {
        font-size: 3.5rem;
        margin-bottom: 0; } }
    @media only screen and (max-width: 50em) {
      .header__image {
        font-size: 2.5rem; } }
  .header__slogan {
    color: #797979;
    margin-bottom: 0;
    font-weight: 100; }
    @media only screen and (max-width: 62.5em) {
      .header__slogan {
        font-size: 1rem; } }
    @media only screen and (max-width: 56.25em) {
      .header__slogan {
        display: none; } }
  .header__links {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin: 0; }
  .header__link {
    margin-right: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    transition: all .2s ease-in-out; }
    @media only screen and (max-width: 50em) {
      .header__link {
        margin-right: 1.5rem; } }
    @media only screen and (max-width: 25em) {
      .header__link {
        margin-right: .5rem; } }
    .header__link:hover {
      background-color: #000; }
    .header__link a {
      font-size: 1.6rem;
      padding: 2.8rem 0;
      display: inline-block;
      font-weight: 400;
      color: #e6e6e6; }
      @media only screen and (max-width: 56.25em) {
        .header__link a {
          font-size: 1.4rem; } }
      @media only screen and (max-width: 43.75em) {
        .header__link a {
          padding: 1.2rem 0; } }
      @media only screen and (max-width: 25em) {
        .header__link a {
          font-size: 1.2rem; } }
    .header__link svg {
      width: 3.5rem;
      height: 3rem;
      fill: #e6e6e6;
      margin-right: .6rem; }
      @media only screen and (max-width: 56.25em) {
        .header__link svg {
          width: 3rem;
          height: 3rem; } }
      @media only screen and (max-width: 50em) {
        .header__link svg {
          width: 2rem;
          height: 2rem; } }
      @media only screen and (max-width: 21.25em) {
        .header__link svg {
          display: none; } }
    .header__link:last-child a {
      transform: translateX(-1rem); }

main {
  max-width: 130rem;
  margin: 0 auto; }

.cards__container {
  padding: 10rem 0;
  display: flex;
  justify-content: center;
  background-color: #ffffff; }
  @media only screen and (max-width: 50em) {
    .cards__container {
      flex-wrap: wrap; } }
  @media only screen and (max-width: 21.25em) {
    .cards__container {
      padding: 5rem 1rem; } }
  .cards__container .card {
    padding: 1rem;
    box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, 0.2);
    flex-basis: 33%;
    border-radius: .5rem; }
    @media only screen and (max-width: 56.25em) {
      .cards__container .card {
        flex-basis: 30%; } }
    @media only screen and (max-width: 50em) {
      .cards__container .card {
        flex-basis: 60%; } }
    @media only screen and (max-width: 43.75em) {
      .cards__container .card {
        flex-basis: 80%; } }
    @media only screen and (max-width: 21.25em) {
      .cards__container .card {
        flex-basis: 90%; } }
    .cards__container .card:not(:last-child) {
      margin-right: 5rem; }
      @media only screen and (max-width: 56.25em) {
        .cards__container .card:not(:last-child) {
          margin-right: 1rem; } }
      @media only screen and (max-width: 50em) {
        .cards__container .card:not(:last-child) {
          margin-right: 0;
          margin-bottom: 2rem; } }
    .cards__container .card__image {
      width: 100%;
      height: 25rem;
      margin-bottom: 1rem;
      overflow: hidden; }
      .cards__container .card__image img {
        width: 100%;
        height: 100%;
        transform: scale(1) translateY(0);
        transition: all .2s ease-in-out;
        backface-visibility: hidden; }
        .cards__container .card__image img:hover {
          transform: scale(1.2) translateY(1.5rem); }
    .cards__container .card__description {
      display: flex;
      overflow: hidden; }
    .cards__container .card__person {
      width: 5.8rem;
      height: 6rem;
      margin: 1rem 0;
      margin-right: 1rem;
      overflow: hidden;
      border-radius: 50%; }
      @media only screen and (max-width: 62.5em) {
        .cards__container .card__person {
          width: 5.4rem;
          height: 4.8rem; } }
      @media only screen and (max-width: 56.25em) {
        .cards__container .card__person {
          display: none; } }
      .cards__container .card__person img {
        width: 100%;
        transform: scale(1.6) translateY(0.5rem); }
    .cards__container .card__details {
      margin-top: 1rem; }
    .cards__container .card__heading {
      margin: 1rem 0;
      font-size: 1.8rem;
      color: #3b3b3b; }
    .cards__container .card__text {
      font-size: 1.4rem;
      color: #818181; }

.insights {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 3rem 0;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd; }
  @media only screen and (max-width: 43.75em) {
    .insights {
      flex-direction: column; } }
  @media only screen and (max-width: 25em) {
    .insights {
      padding: 3rem; } }
  .insights__item {
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0; }
  .insights__image {
    width: 10rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 1rem; }
    @media only screen and (max-width: 62.5em) {
      .insights__image {
        height: 5rem; } }
    @media only screen and (max-width: 50em) {
      .insights__image {
        display: none; } }
    .insights__image img {
      transform: scale(1.2) translateY(0.4rem);
      width: 100%;
      height: 100%; }
  .insights__heading {
    font-weight: 600;
    color: #939090; }
  .insights__text {
    font-size: 1.6rem;
    color: #555555; }
    @media only screen and (max-width: 62.5em) {
      .insights__text {
        font-size: 1.4rem; } }
    @media only screen and (max-width: 50em) {
      .insights__text {
        font-size: 1.2rem; } }

.featured {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem 2rem; }
  @media only screen and (max-width: 43.75em) {
    .featured {
      flex-wrap: wrap; } }
  .featured h6 {
    margin-right: 1rem;
    margin-bottom: 0;
    color: #555555; }
    @media only screen and (max-width: 43.75em) {
      .featured h6 {
        font-size: 1rem; } }
    @media only screen and (max-width: 43.75em) {
      .featured h6 {
        flex-basis: 100%;
        text-align: center;
        font-size: 1.6rem;
        margin-bottom: 2rem; } }
  .featured img {
    width: 15%;
    margin-left: 3rem;
    transform: scale(0.75); }
    @media only screen and (max-width: 21.25em) {
      .featured img {
        margin-left: 1rem; } }

.footer {
  background-color: #1f1f1f;
  padding: 5rem; }
  @media only screen and (max-width: 50em) {
    .footer {
      padding: 5rem 2rem; } }
  @media only screen and (max-width: 31.25em) {
    .footer {
      padding: 5rem; } }
  .footer .container {
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 43.75em) {
      .footer .container {
        flex-direction: column; } }
  .footer__links {
    display: flex;
    color: #ebebeb; }
    @media only screen and (max-width: 43.75em) {
      .footer__links {
        justify-content: center;
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 31.25em) {
      .footer__links {
        flex-wrap: wrap; } }
    @media only screen and (max-width: 21.25em) {
      .footer__links {
        text-align: center; } }
  @media only screen and (max-width: 31.25em) {
    .footer__link-item {
      flex-basis: 50%; } }
  @media only screen and (max-width: 21.25em) {
    .footer__link-item {
      flex-basis: 80%; } }
  .footer__link-item:not(:last-child) {
    margin-right: 7rem; }
    @media only screen and (max-width: 62.5em) {
      .footer__link-item:not(:last-child) {
        margin-right: 5rem; } }
    @media only screen and (max-width: 56.25em) {
      .footer__link-item:not(:last-child) {
        margin-right: 2rem; } }
    @media only screen and (max-width: 50em) {
      .footer__link-item:not(:last-child) {
        margin-right: 3rem; } }
    @media only screen and (max-width: 31.25em) {
      .footer__link-item:not(:last-child) {
        margin-right: 0; } }
  .footer__heading {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 1.6rem;
    letter-spacing: 1px;
    margin-bottom: 2.5rem; }
    @media only screen and (max-width: 62.5em) {
      .footer__heading {
        font-size: 1.4rem; } }
    @media only screen and (max-width: 50em) {
      .footer__heading {
        font-size: 1.2rem;
        font-weight: 600; } }
  .footer__link {
    list-style: none; }
    .footer__link a {
      color: #999999;
      display: inline-block;
      font-size: 1.6rem;
      margin-bottom: .75rem;
      transition: all .2s; }
      @media only screen and (max-width: 50em) {
        .footer__link a {
          font-size: 1rem; } }
      .footer__link a:hover {
        color: #fff; }
  .footer__description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end; }
    @media only screen and (max-width: 31.25em) {
      .footer__description {
        align-items: center; } }
    .footer__description-logos {
      display: flex; }
      .footer__description-logos svg {
        width: 3rem;
        height: 3rem;
        fill: #fff;
        margin-right: 1rem;
        transition: all .2s; }
        @media only screen and (max-width: 31.25em) {
          .footer__description-logos svg {
            width: 2rem;
            height: 2rem; } }
        .footer__description-logos svg:hover {
          fill: #999999; }
    .footer__description-text {
      color: #999999;
      font-size: 1.4rem;
      text-align: right; }
      @media only screen and (max-width: 31.25em) {
        .footer__description-text {
          font-size: 1.2rem;
          text-align: center;
          margin-top: 1rem; } }
